# Dependencies
node_modules/

# Next.js
.next/
out/

# Build output
dist/
build/

# Env files
.env
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/

# Cloudflare / OpenNext
.open-next/
.wrangler/
